<header class="mx-md-5">
  <nav class="navbar navbar-expand">
    <div class="container-fluid">
      <!-- List Navbar -->
      <div class="collapse navbar-collapse ">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" routerLink="/add-freelancer">Add</a>
          </li>
          <li class="nav-item">
            <a class="nav-link">Info</a>
          </li>
          <li class="nav-item">
            <a class="nav-link">More</a>
          </li>

        </ul>
      </div>
      <div class="d-flex gap-2">
        <i class="bi bi-gear"></i>
        <i class="bi bi-bell"></i>
      </div>
    </div>
  </nav>
</header>

<main class="mx-5">
  <router-outlet></router-outlet>
</main>
